* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

/*Hero section*/

.container1 {
    background-color: #1f2937;
    padding-top: 10px;
    padding-bottom: 70px;
}

.herotext h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.herotext p {
    color:#e5e7eb;
    font-size: 18px;
}

.logo header {
    font-size: 24px;
    color:#f9faf8;
}

.btn button {
    background-color: #3882f6;
    color:#f9faf8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 10px;
    border-radius: 25px;
}

.topheader {
    display:flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    color: #e5e7eb;
}

.navigation nav ul {
    display: flex;
    gap: 20px;
}

.hero1 {
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    
}

.placeholder {
    display: flex;
    margin:auto;
    align-content: center;
    justify-content: center;
    padding: 100px;
    background-color: grey;
}

.hero2 {
    display: flex;
    justify-content:space-between;
    margin-right: 200px;
}

